.nbinteract.json
.python-version

.vscode/*
*.ipynb
*_build/
notebooks/02_trigg_factors/raw.githubusercontent.com
notebooks/02_trigg_factors/TRIG*
notebooks/02_trigg_factors/*parcial*
notebooks/02_trigg_factors/records/
notebooks/03_rupture/*.svg
notebooks/03_rupture/*.txt
notebooks/input_data/
notebooks/deprecated/