.nbinteract.json
.python-version

notebooks/mohr_circles_and_stress_paths.ipynb
notebooks/test.ipynb
notebooks/Slope stability class at EAFIT.svg
notebooks/Slope stability class at EAFIT.txt
notebooks/limit_equilibrium_method-TESTS.ipynb
