jupyter-book
requests
numpy==2.0.2
matplotlib==3.10.0
scipy==1.16.1
pandas==2.2.2
openpyxl==3.1.5
ipywidgets==7.7.1
ipykernel==6.29.5
ipympl==0.9.7
jupyterlab==3.6.5
pycss_lem
pynewmarkdisp
scikit-learn==1.6.1
rasterio>=1.4.0